<%- include('includes/header') %>

<body>
    <% if(member && member.mb_type === "ADMIN") { %>
        <%- include('home') %>
        

    <% } else { %>
        <%- include('login') %>
    <% } %>
    
</body>

<%- include('includes/footer') %>