<%- include('includes/header') %>

<body>
    <% if(member && member.mb_type === "ADMIN") { %>
        This is admin home page!!!!!!!!!!!!!
        <a class="nav-link" href="/admin/logout">Logout</a>

    <% } else { %>
        <%- include('login') %>
    <% } %>
    
</body>

<%- include('includes/footer') %>