<%- include('includes/header') %>

<body>
    <% if(!member) { %>
        <%- include('login') %>

    <% } else { %>
        This is Admin homepage
    <% } %>
</body>

<%- include('includes/footer') %>