<%- include('includes/header') %>
<link rel="stylesheet" href="/css/homepage.css">

<body>
    Hello, this is ADMIN HomePge!!
</body>

<script src="/js/homepage.js"></script>

<%- include('includes/footer') %>