<%- include('includes/header') %>
<link rel="stylesheet" href="/css/home.css">

<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="/admin">
                    <span>Z</span>
                    I
                    <span>V</span>
                    O
                </a>
            </div>
        
            <div class="menu">
                <a class="nav-link" href="/admin">Home</a>
                <a class="nav-link" href="/admin/logout">about</a>
                <a class="nav-link" href="/admin/members">members</a>
                <a class="nav-link" href="#">messages</a>
                <a class="nav-link" href="/admin/logout">Logout</a>
            </div>
        </div>
    </header>

</body>

<script src="/js/home.js"></script>

<%- include('includes/footer') %>