<%- include('includes/header') %>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="logo">
        <a href="/admin">
            ZiVo
        </a>
    </div>
    
    <div class="home_container">
        <div class="left_container">
            <div class="left_content">
                <h1>Hello, <span>Admin</span></h3>
                <h3>Welcome to <span>ZIVo!</span></h2>
                <p>Login now and continue checking Zivo's members, and be aware of the news in Zivo!</p>
            </div>
        </div>

        <div class="login-box">
            <h2>Login</h2>
            <form action="/admin/login" method="POST" autocomplete="off">
                <div class="user-box">
                    <input type="text" name="mb_nick" required>
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="mb_password" required>
                    <label>Password</label>
                </div>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input class="btn" type="submit" value="Login">
                </a>
            </form>
    </div>
</body>

<%- include('includes/footer') %>